<main>

    


    <form [formGroup]="form" class="shadow-xl  h-screen grid place-content-center" >  
        <div class="shadow-lg flex flex-col rounded-md p-6 gap-4 w-lg">

            @for (item of inputs; track $index) {
                <label [htmlFor]="item.nombre">
                    {{ item.nombre.slice(0,1).toUpperCase() + item.nombre.slice(1) }}
                  </label>
                  
                <input [type]="item.type" [formControlName]="item.nombre" class="bg-slate-100 px-4 py-2 rounded-md"/>
            }

            
            <button (click)="mostrarDataForm()" class="bg-cyan-500 py-2 px-3   rounded-md text-white shadow-cyan-600 shadow">Ver datos</button>
        </div>
    </form>



</main>
