<main class="w-full h-screen max-h-svh grid place-content-center">
    <form [formGroup]="form" (submit)="handleSubmit()" class=" w-lg flex flex-col shadow-lg p-4 rounded-md gap-2"  >
        <label >
            {{form.value.nombre}}
        </label>
        <input  type="text" class="px-3 py-2 bg-slate-100 rounded-sm" formControlName="nombre" [defaultValue]="`Nombre`" >
        <label >
            {{form.value.apellido}}
        </label>
        <input type="text" formControlName="apellido" class="px-3 py-2 bg-slate-100 rounded-sm"  [defaultValue]="`Apellido`">
        <label >
            {{form.value.email}}
        </label>
        <input type="text" formControlName="email" [defaultValue]="`Email`" class="px-3 py-2 bg-slate-100 rounded-sm" >
        <input type="text" formControlName="id" class="px-3 py-2 bg-slate-100 rounded-sm"   >
        <button class="bg-gradient-to-r from-cyan-500 to-cyan-700 rounded-md px-2 py-2 text-white font-bold" [disabled]="!form.valid" >Enviar</button>
    </form>
</main>
